*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');


body{
    background-color: rgb(27, 27, 27);
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color: rgb(27, 27, 27);
}
.right-header{
    display: flex;
    justify-content: flex-start;
    width: 20%;
}
i:hover{
    background-color: grey;
    border-radius: 20px;
}
.header-search{
    display: flex;
    justify-content: center;
    width: 50%;
}
.header-icons{
    display: flex;
    justify-content: flex-end;
    width: 20%;
    
}
.material-icons{
    color: rgb(245, 244, 244);
    padding: 10px;
}
#ulogo{
    margin: 5px 0 10px 15px; 
    padding: 2px;
    height: 40px;
    width: 15%;
}

#hp{
    position: relative;
    top: 13px;
    color: white;
    font-size: 20px;
}
.header-search form{
   
    height: 35px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    display: flex;
}
.header-search form button i{
    color: black ;
}
.header-search input{
    width: 500px;
    padding: 10px;
    margin: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    background-color: black;
}
.header-search form button{
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.header-search>i{
    margin-top: 8px;
    padding: 10px;
}
.mainbody{
    height: calc(100vh - 70px);
    display: flex;
    background-color: rgb(27, 27, 27);
    
}
.sidebar{
    margin-top: 50px;
    height: 100%;
    width: 230px;
    overflow-y: scroll;
    color: white;
    position: fixed;
}
.sidebar_categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}
.sidebar_category{
    display: flex;
    align-items: center;
}
.sidebar_category span{
    margin-left: 14px;
}
.sidebar_category:hover{
    cursor: pointer;
    background-color: gray;
    border-radius: 15px;
}
.sidebar::-webkit-scrollbar{
    margin: 10px;
    width: 5px;
    background-color: gray;
    
}
hr{
    height: 1px;
    border: none;
    background-color: gray;
}


.videos_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-left: 250px;
    margin-top: 80px;
    width: 1000px;
    height: 100%;
   
    
}
.videos{
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: 100%; 
    
}
.video__thumbnail>img {
    width: 100%;
    height: 100%;
}
.video__details{
    width: 100%;
    height: 36%;
}

.author img{
    object-fit: cover;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.title {
   
    position: relative;
    display: flex;
    flex-direction: column;
    width: 260px;
    left: 40px;
    top: -30px;
  }
  
  .title h3 {
    color: white;
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
  }
  
  .title a{
    text-decoration: none;
    color: rgb(168, 163, 163);
    font-size: 17px;
  }
  .title span{
    color: rgb(168, 163, 163);
  }
  
  